TEMPLATE(

  <body>
  <h1>Hello {{username%s}}</h1>

  <p>Welcome at the Poolcide. Sit down and relax. Also get yourself a towl.</p>
  <p>With a towl id, you can reserve a seat at the pool.</p>
  <p>"More importantly, a towel has immense psychological value."</p>

  <div id="login" >
  <form action="poolcide?route=login" method="post">
    <ul> 
    <li>
    <label for="name">Username</label>
    <input type="text" id="username" name="username" />
    </li>
    <li>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
    </li>
    </ul>
    <button type="submit">login</button>
  </form>

  <form action="poolcide?route=register" method="post">
    <ul> 
    <li>
    <label for="name">Username</label>
    <input type="text" id="username" name="username" />
    </li>
    <li>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
    </li>
    </ul>
    <button type="submit">register</button>
  </form>
  </div>

  <code id=pyramid style='font-family: "Lucida Console", Monaco, monospace;' />

<script nonce="{{state->nonce%s}}">

  // Some lovely codegolf from https://twitter.com/aemkei/status/1275169003028336646?s=20
  for(o=i=2020;i--;)o+=i%63?i&i/32&&'_':`
`
  pyramid.innerHTML = o.replace(/\n/g, "<br>")

  if ({{logged_in%d}}) {
    login.innerHTML = `
    <p>Welcome back! :)</p>
    <a href="poolcide/?route=dispense">Towl Dispensery</a>
    `;
  }

</script>


  </body>

)