TEMPLATE(

  <body>
  <h1>Hello {{username%s}}</h1>

  <p>Welcome at the Poolcide. Sit down and relax. Also get yourself a towl.</p>
  <p>With a towl id, you can reserve a seat at the pool.</p>
  <p>"More importantly, a towel has immense psychological value."</p>

  <p id="error"></p>

  <form id="userform" action="">
    <ul> 
    <li>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" />
    </li>
    <li>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" />
    </li>
    </ul>
    <button id="login">login</button>
    <button id="register">register</button>
  </form>

  <code id=pyramid nonce={{state->nonce%s}} style='font-family: "Lucida Console", Monaco, monospace;' />

<script nonce="{{state->nonce%s}}">

  // Some lovely codegolf from https://twitter.com/aemkei/status/1275169003028336646?s=20
  for(o=i=2020;i--;)o+=i%63?i&i/32&&'_':`
`
  pyramid.innerHTML = o.replace(/\n/g, "<br>")

  async function send(route) {
    route = "poolcide?route=" + route;
    let response = await fetch(route, {
      method: 'POST',
      body: `
        username=${username.value}
        password=${password.value}
      `
    }).text;
    if (response && response.includes("success")) {
      location.reload() 
    } else {
      error.textContent = response
    }
  }

  userform.onsubmit = () => console.log("submit")
  login.onclick = () => send("login")
  login.onclick = () => send("register")

  if ({{logged_in%d}}) {
    userform.innerHTML = `
    <p>Welcome back! :)</p>
    <a href="poolcide/?route=dispense">Towl Dispensery</a>
    `;
  }

</script>


  </body>

)