TEMPLATE(
<body>
    <h1>Your friendly towel dispenser.</h1>
    <div id="token">
        <form id="towelreserver" method="get" action="poolcide">
        <p>Reserve a towel now!</p>
        <div id="towelreg">
        <label for="color">Chose a color:</label>
        <input type="hidden" id="route" name="route" value="reserve" />
        <select name="color" id="color">
            <option value="🚩">🚩</option>
            <option value="🏁">🏁</option>
            <option value="🏳️">🏳️</option>
            <option value="🏳️‍⚧️">🏳️‍⚧️</option>
            <option value="🦄">️🦄</option>
            <option value="🏴‍☠️">🏴‍☠️</option>
        </select>
        <button id="reserve">Reserve a poolcide spot and towel!</button>
        </form>
        </div>
    </div>

    <div id="owntowels">
        <p>Your towels:</p>
        <div class="toweldiv">
        <ul>
        {{own_towels%s}}
        </ul>
        </div>
    </div>

    <div id="alltowels">
        <p>All towels:</p>
        <div class=toweldiv>
        <ul>
        {{towels%s}}
        </ul>
        </div>
    </div>

    <p>Also, the towel_id for our towel admin team is </p>
    <div>
        <code>{{towel_id_enc%s}}</code>
    </div>
    <p> today.</p>
    <code id="chosencolor">{{color%s}}</code>
    <p>BTW.: please make sure you dont't run poolcide too far away from a pool (for example behind a http proxy)</p>
    <a href=/>HOME</a>

<script nonce={{state->nonce%s}}>
    if ("{{towel_token%s}}") {
        token.innerHTML = `<p>Your towel with the ID {{towel_token%s}} and color ${decodeURI(chosencolor.innerHTML)} got reserved.</p>`
    }
    chosencolor.innerHTML = ""
</script>
</body>
)